body {
    font-family: sans-serif;
}

.navbar {
    border-right: .0025rem solid rgb(117, 117, 117);
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    width: 6rem;
    flex-shrink: 0;
    padding-top: 5rem;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a.active {
    background-color: #95d2f8;
    color: blue;
}

