.fileViewer {
    border: 0.05rem solid rgb(130, 129, 129);
    border-radius: 1rem;
    width: 40rem;
    height: 40rem;
    padding: 0;
    margin: 0;
}

.fileViewerHeader {
    background-color: rgb(211, 211, 211);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;
    user-select: none;
}

.fileViewerFooter {
    background-color: rgb(211, 211, 211);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: center;
    user-select: none;
}

.fileViewerPage {
    width: 38rem;
    height: 30rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 1rem;
    background-color: rgb(243, 243, 236);
}

.previewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    transform-origin: top left;
}